Imports

In [10]:
import pandas as pd

Function to read, clean, and rename the 'US States' column in the data

In [11]:
def read_df(filename):
    df = pd.read_csv(filename)
    return df

def clean_rename_data(df):
    
    df = df.dropna()  # Example: Remove rows with missing values


    # Rename 'US States' column to 'Name'
    df.rename(columns={'US States': 'Name'}, inplace=True)

    return df

CSV File Path

In [12]:
# Paths to the CSV files (placeholders)
path_to_2020_csv = r"C:\Users\Admin\Downloads\Employment 2020 (C).csv"
path_to_2021_csv = r"C:\Users\Admin\Downloads\Employment 2021 (C).csv"
path_to_2022_csv = r"C:\Users\Admin\Downloads\Employment 2022 (C).csv"

Read into pandas df seperately

In [13]:
# Read, clean, and rename data for each year
df_2020 = read_df(path_to_2020_csv)
df_2021 = read_df(path_to_2021_csv)
df_2022 = read_df(path_to_2022_csv)

Clean the data

In [17]:
df_2020 = clean_rename_data(df_2020)
df_2021 = clean_rename_data(df_2021)
df_2022 = clean_rename_data(df_2022)

Cleaned DF 2020

In [18]:
df_2020

,Name,2020 Total Population By State 16 years and over,2020 Male Employment/Population Ratio 20 to 64 years,2020 Female Employment/Population Ratio 20 to 64 years
0,Alabama,3926842,72.4,63.3
1,Alaska,572684,69.6,68.8
2,Arizona,5720956,75.8,66.8
3,Arkansas,2388169,72.3,65.6
4,California,31403964,77.4,67.1
5,Colorado,4568027,80.4,72.8
6,Connecticut,2927839,79.0,73.4
7,Delaware,787102,76.3,70.7
8,District of Columbia,586181,75.9,75.4
9,Florida,17486583,75.9,68.4
10,Georgia,8296817,75.8,68.2
11,Hawaii,1148836,72.7,72.6
12,Idaho,1360062,79.9,68.4
13,Illinois,10193604,78.8,71.5
14,Indiana,5306367,78.6,70.6
15,Iowa,2504540,82.7,76.6
16,Kansas,2285921,80.3,73.7
17,Kentucky,3567512,72.1,65.6
18,Louisiana,3688107,70.1,64.6
19,Maine,1120778,78.3,74.2
20,Maryland,4846076,79.8,74.3
21,Massachusetts,5678025,80.3,75.2
22,Michigan,8070619,75.7,68.8
23,Minnesota,4444556,83.6,78.9
24,Mississippi,2357026,68.5,63.7
25,Missouri,4903578,77.2,71.3
26,Montana,859185,78.9,72.7
27,Nebraska,1500813,84.2,77.7
28,Nevada,2419552,77.2,67.6
29,New Hampshire,1130008,82.4,76.3
30,New Jersey,7161184,80.3,71.8
31,New Mexico,1672029,69.5,64.2
32,New York,15908940,76.8,70.3
33,North Carolina,8352255,75.2,68.4
34,North Dakota,599849,83.1,78.0
35,Ohio,9385593,77.4,71.0
36,Oklahoma,3097358,74.6,66.2
37,Oregon,3408422,77.8,70.0
38,Pennsylvania,10456049,77.6,71.5
39,Rhode Island,878121,77.7,73.3
40,South Carolina,4111745,74.5,67.6
41,South Dakota,686885,81.7,77.2
42,Tennessee,5437242,75.5,67.1
43,Texas,22078090,79.0,66.9
44,Utah,2325169,85.0,69.7
45,Vermont,523065,78.7,77.1
46,Virginia,6849454,77.1,71.4
47,Washington,6038812,78.5,69.7
48,West Virginia,1485332,68.0,61.5
49,Wisconsin,4682533,81.2,76.7
50,Wyoming,461417,80.8,71.7
51,Puerto Rico,2728839,56.3,46.9

Cleaned DF 2021

In [19]:
df_2021

,Name,2021 Total Population By State 16 years and over,2021 Male Employment/Population Ratio 20 to 64 years,2021 Female Employment/Population Ratio 20 to 64 years
0,Alabama,4046627,72.3,64.2
1,Alaska,571832,68.7,67.2
2,Arizona,5852913,76.4,67.4
3,Arkansas,2405035,73.3,67.1
4,California,31507237,75.4,65.9
5,Colorado,4720626,80.1,73.1
6,Connecticut,2971314,78.0,73.2
7,Delaware,819868,73.4,70.9
8,District of Columbia,553437,74.9,74.9
9,Florida,18010659,75.9,68.5
10,Georgia,8575918,74.9,68.4
11,Hawaii,1166220,68.0,68.9
12,Idaho,1484932,80.6,69.7
13,Illinois,10203044,77.1,70.4
14,Indiana,5401077,78.6,70.5
15,Iowa,2543525,82.4,76.1
16,Kansas,2315379,79.1,73.5
17,Kentucky,3612858,71.5,65.9
18,Louisiana,3663069,67.8,64.6
19,Maine,1155699,76.7,72.4
20,Maryland,4964751,78.4,72.9
21,Massachusetts,5790261,79.2,74.4
22,Michigan,8156411,75.2,67.5
23,Minnesota,4554126,82.4,77.9
24,Mississippi,2340485,68.1,64.1
25,Missouri,4949628,77.3,71.5
26,Montana,895986,77.0,71.8
27,Nebraska,1534896,84.3,77.7
28,Nevada,2526328,73.2,65.9
29,New Hampshire,1164253,82.7,74.6
30,New Jersey,7489289,78.1,70.5
31,New Mexico,1700082,68.5,63.1
32,New York,16210453,73.3,68.9
33,North Carolina,8524268,74.7,68.3
34,North Dakota,610714,81.1,75.6
35,Ohio,9480334,76.9,70.8
36,Oklahoma,3140799,73.1,67.1
37,Oregon,3487919,76.1,69.0
38,Pennsylvania,10602171,76.4,70.9
39,Rhode Island,913136,76.7,72.0
40,South Carolina,4207365,74.2,66.9
41,South Dakota,699893,81.3,78.0
42,Tennessee,5616708,76.1,66.9
43,Texas,22934023,78.1,66.6
44,Utah,2507029,85.0,69.3
45,Vermont,542827,78.1,77.1
46,Virginia,6980718,76.7,71.2
47,Washington,6250868,76.5,68.8
48,West Virginia,1465755,66.5,61.7
49,Wisconsin,4773326,80.8,75.6
50,Wyoming,461622,81.9,72.7
51,Puerto Rico,2794959,57.3,51.3

Cleaned DF 2022

In [20]:
df_2022

,Name,2022 Total Population By State 16 years and over,2022 Male Employment/Population Ratio 20 to 64 years,2022 Female Employment/Population Ratio 20 to 64 years
0,Alabama,4093740,74.5,66.1
1,Alaska,575934,72.2,69.8
2,Arizona,5961733,78.6,69.1
3,Arkansas,2430600,73.7,64.9
4,California,31552708,78.4,69.0
5,Colorado,4776317,82.6,75.7
6,Connecticut,2986455,80.4,74.7
7,Delaware,835365,81.0,73.3
8,District of Columbia,557547,79.0,79.5
9,Florida,18459053,77.6,70.9
10,Georgia,8708310,77.8,70.7
11,Hawaii,1175667,71.8,73.0
12,Idaho,1530729,80.1,70.0
13,Illinois,10199598,80.1,73.4
14,Indiana,5456066,80.7,72.2
15,Iowa,2570925,83.5,78.4
16,Kansas,2330842,80.2,74.2
17,Kentucky,3626511,74.4,67.4
18,Louisiana,3656541,71.5,66.9
19,Maine,1170061,77.7,75.3
20,Maryland,4974349,81.4,75.6
21,Massachusetts,5805465,80.8,76.7
22,Michigan,8179427,77.7,70.6
23,Minnesota,4579443,84.1,79.1
24,Mississippi,2341292,70.9,65.8
25,Missouri,4974792,78.6,72.6
26,Montana,916289,79.5,75.1
27,Nebraska,1547790,84.8,77.6
28,Nevada,2572023,77.4,69.4
29,New Hampshire,1177400,82.0,77.1
30,New Jersey,7510983,81.9,73.3
31,New Mexico,1710459,72.2,66.2
32,New York,16154241,77.1,72.0
33,North Carolina,8671939,77.2,70.8
34,North Dakota,617710,83.9,78.4
35,Ohio,9506533,79.3,72.8
36,Oklahoma,3178852,75.5,67.3
37,Oregon,3509464,78.6,72.8
38,Pennsylvania,10660341,79.1,73.2
39,Rhode Island,916019,77.9,75.7
40,South Carolina,4294594,76.3,69.8
41,South Dakota,716965,81.5,78.1
42,Tennessee,5699603,78.9,69.6
43,Texas,23471441,80.4,69.1
44,Utah,2560844,86.7,71.6
45,Vermont,548050,80.5,78.6
46,Virginia,7041278,77.7,72.6
47,Washington,6328051,79.7,71.0
48,West Virginia,1466266,68.2,63.4
49,Wisconsin,4802830,82.0,77.1
50,Wyoming,465883,79.9,74.7
51,Puerto Rico,2781341,63.3,54.0

Merge the df in memory with suffixes

In [21]:
# Merge the dataframes on the 'Name' column
merged_df = df_2020.merge(df_2021, on='Name', suffixes=('_2020', '_2021'))
merged_df = merged_df.merge(df_2022, on='Name', suffixes=('', '_2022'))

Display the df