In [1]:
import pandas as pd

In [2]:
#Load each csv into a DataFrame
df_2022 = pd.read_csv('Household Income 2022.csv')
df_2021 = pd.read_csv('Household Income 2021.csv')
df_2020 = pd.read_csv('Household Income 2020.csv')

In [3]:
#create a year column for each DataFrame to show the year
df_2022['Year'] = 2022
df_2021['Year'] = 2021
df_2020['Year'] = 2020

In [6]:
#cooncatenate the DataFrames
combined_df = pd.concat([df_2022, df_2021, df_2020], ignore_index=True)
combined_df.head()

,NAME,Households Total Income,"Households with Income under $10,000","Households with Income of $200,000 or more",Year
0,Alabama,2016448,7.6,6.7,2022
1,Alaska,274574,4.4,11.4,2022
2,Arizona,2850377,5.4,9.6,2022
3,Arkansas,1216207,7.3,5.5,2022
4,California,13550586,4.8,18.0,2022

In [7]:
combined_df.to_csv('Combined_Household_Income.csv', index=False)

In [8]:
combined_df = pd.read_csv('Combined_Household_Income.csv')
combined_df

,NAME,Households Total Income,"Households with Income under $10,000","Households with Income of $200,000 or more",Year
0,Alabama,2016448,7.6,6.7,2022
1,Alaska,274574,4.4,11.4,2022
2,Arizona,2850377,5.4,9.6,2022
3,Arkansas,1216207,7.3,5.5,2022
4,California,13550586,4.8,18.0,2022
...,...,...,...,...,...
151,Washington,2905822,4.4,10.5,2020
152,West Virginia,734235,8.5,3.1,2020
153,Wisconsin,2377935,4.6,5.2,2020
154,Wyoming,233231,5.2,5.0,2020
155,Puerto Rico,1205749,26.4,1.0,2020