In [13]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np
file_path = 'ALL DATA NORMALIZATION SCORES.xlsx'

Cleaned and Merged Dataset: A Comprehensive Compilation for In-depth Analysis

This dataset is a combination of multiple datasets that have been cleaned and merged for analysis. The cleaning process involved removing duplicates, handling missing values, and standardizing the column names. To eliminate duplicate entries, we used a unique identifier column. For handling missing values, appropriate methods such as imputation with median, mean, or forward-fill were applied. Column names were standardized to ensure consistency across the datasets.

The merging process involved combining relevant columns from different datasets and different years, ranging from 2020 to 2022. Common identifiers were used to merge the datasets, ensuring accurate and meaningful combinations. By merging the datasets, we aim to gain a broader view of the data and facilitate comprehensive analysis.

This cleaned and merged dataset will be utilized for various analysis tasks, including but not limited to feature engineering, model training, and evaluation. It provides a consolidated and reliable source of data for conducting in-depth analysis and generating valuable insights.

In [2]:
df = pd.read_excel(file_path, sheet_name='MALE UNEMPLOYMENT RATE')
df2 = pd.read_excel(file_path, sheet_name='FEMALE UNEMPLOYMENT RATE',)
df3 = pd.read_excel(file_path, sheet_name='SMALL BUSINESS')
merged_data = pd.merge(df['State'], df2['State'], on='State')
Dataset  = pd.merge(merged_data, df3['State'], on='State')
Dataset ['Job Market Demand'] = (
    df['WEIGHTED'] * df['AVERAGE 3-YEAR SCORE'] +  # Weighted indicator from male unemployment
    df2['WEIGHTED'] * df2['AVERAGE 3-YEAR SCORE'] +  # Weighted indicator from female unemployment
    df3['WEIGHTED'] * df3['NORMALIZED 2021']   # Weighted indicator from small business data
)

In [3]:
df = pd.read_excel(file_path, sheet_name='COMBINED HOUSEHOLD INCOME')
df2 = pd.read_excel(file_path, sheet_name='ONE-YEAR HOME APPRECIATION')
df3 = pd.read_excel(file_path, sheet_name='POVERTY ESTIMATE')
Dataset['Cost of Living Index'] = (
    df['WEIGHTED'] * df['AVERAGE 3-YEAR SCORE'] +  # Weighted indicator from male unemployment
    df2['WEIGHTED'] * df2['NORMALIZED 2021'] +  # Weighted indicator from female unemployment
    df3['WEIGHTED'] * df3['NORMALIZED 2021']   # Weighted indicator from small business data
)

In [4]:
Dataset

                   State  Job Market Demand  Cost of Living Index
0                Alabama           5.951259              9.264237
1                 Alaska         269.127124            431.742058
2                Arizona         279.199884            492.064499
3               Arkansas         297.139191            373.553943
4             California         407.004007            463.428508
5               Colorado         398.569514            609.958531
6            Connecticut         230.873590            489.017300
7               Delaware         248.559187            493.005690
8   District of Columbia         238.830505            467.906121
9                Florida         301.082367            468.563038
10               Georgia         194.100355            698.606535
11                Hawaii         345.201672            450.162373
12                 Idaho         461.132564            438.595611
13              Illinois         376.532537            412.755890
14               Indiana         240.642099            496.154745
15                  Iowa         202.572081            370.846585
16                Kansas         314.780294            329.774699
17              Kentucky         301.198786            337.806712
18             Louisiana         245.632773            357.336812
19                 Maine         334.782449            370.891113
20              Maryland         391.726270            459.435664
21         Massachusetts         374.644140            524.018531
22              Michigan         325.704561            521.533540
23             Minnesota         366.411919            456.909951
24           Mississippi         326.086489            356.696482
25              Missouri         206.284688            306.324443
26               Montana         262.453141            292.544606
27              Nebraska         360.069612            324.704977
28                Nevada         409.815668            425.563048
29         New Hampshire         438.231592            413.168822
30            New Jersey         390.448108            430.446560
31            New Mexico         325.928031            515.925127
32              New York         435.908061            494.249740
33        North Carolina         300.124270            701.250395
34          North Dakota         313.240874            267.685537
35                  Ohio         331.903624            297.216395
36              Oklahoma         315.128148            486.140150
37                Oregon         411.596671            438.127019
38          Pennsylvania         317.600214            476.977106
39          Rhode Island         340.428016            450.071638
40        South Carolina         295.277954            399.223682
41          South Dakota         317.687757            319.276946
42             Tennessee         337.181525            347.059726
43                 Texas         257.478237            654.254231
44                  Utah         211.809717            518.582943
45               Vermont         191.127581            389.934399
46              Virginia         249.731115            387.752796
47            Washington         305.823908            476.143991
48         West Virginia         361.260066            463.181969
49             Wisconsin         346.127206            452.673101
50               Wyoming         332.086207            462.928587
51                   NaN                NaN                   NaN

In [5]:
df = pd.read_excel(file_path, sheet_name='STATE GDP')
Dataset['industry growth'] = (
    df['WEIGHTED'] * df['AVERAGE 3-YEAR SCORE'] 
)

In [6]:
df = pd.read_excel(file_path, sheet_name='EMPLOYMENT AVERAGE SALARY')

Dataset['EMPLOYMENT AVERAGE SALARY'] = df['AVERAGE 3-YEAR SCORE']

In [7]:
Dataset

,State,Job Market Demand,Cost of Living Index,industry growth,EMPLOYMENT AVERAGE SALARY
0,Alabama,5.951259,9.264237,9.451304,49.019608
1,Alaska,269.127124,431.742058,476.184309,48.554913
2,Arizona,279.199884,492.064499,483.041564,49.411927
3,Arkansas,297.139191,373.553943,489.932865,48.211568
4,California,407.004007,463.428508,520.333300,45.826394
5,Colorado,398.569514,609.958531,518.539699,48.950382
6,Connecticut,230.873590,489.017300,471.453612,49.350193
7,Delaware,248.559187,493.005690,439.387707,47.159700
8,District of Columbia,238.830505,467.906121,453.242603,41.421569
9,Florida,301.082367,468.563038,480.454299,47.901372
10,Georgia,194.100355,698.606535,475.378267,48.568617
11,Hawaii,345.201672,450.162373,477.043757,48.766495
12,Idaho,461.132564,438.595611,469.249055,52.743200
13,Illinois,376.532537,412.755890,466.193309,44.544185
14,Indiana,240.642099,496.154745,472.520448,48.471178
15,Iowa,202.572081,370.846585,486.553479,49.756888
16,Kansas,314.780294,329.774699,473.152561,45.002792
17,Kentucky,301.198786,337.806712,450.897490,50.999460
18,Louisiana,245.632773,357.336812,462.660708,47.911227
19,Maine,334.782449,370.891113,469.360656,53.936348
20,Maryland,391.726270,459.435664,475.186810,51.088647
21,Massachusetts,374.644140,524.018531,491.899282,49.214468
22,Michigan,325.704561,521.533540,491.409743,49.819346
23,Minnesota,366.411919,456.909951,472.254381,48.897886
24,Mississippi,326.086489,356.696482,475.596031,50.330330
25,Missouri,206.284688,306.324443,473.862285,48.309179
26,Montana,262.453141,292.544606,467.823542,51.823579
27,Nebraska,360.069612,324.704977,464.662754,50.044209
28,Nevada,409.815668,425.563048,471.421018,48.093187
29,New Hampshire,438.231592,413.168822,524.097084,50.250896
30,New Jersey,390.448108,430.446560,518.200647,48.760827
31,New Mexico,325.928031,515.925127,458.279298,44.420904
32,New York,435.908061,494.249740,463.185753,45.078014
33,North Carolina,300.124270,701.250395,481.880304,50.093394
34,North Dakota,313.240874,267.685537,463.122874,43.693694
35,Ohio,331.903624,297.216395,461.834868,48.928974
36,Oklahoma,315.128148,486.140150,479.673476,43.922127
37,Oregon,411.596671,438.127019,484.360044,45.865086
38,Pennsylvania,317.600214,476.977106,480.457540,46.880990
39,Rhode Island,340.428016,450.071638,469.263911,50.826045
40,South Carolina,295.277954,399.223682,456.635482,48.283706
41,South Dakota,317.687757,319.276946,464.981047,51.330798
42,Tennessee,337.181525,347.059726,479.267723,47.066167
43,Texas,257.478237,654.254231,469.110521,45.935818
44,Utah,211.809717,518.582943,475.059716,51.360782
45,Vermont,191.127581,389.934399,479.019197,48.795181
46,Virginia,249.731115,387.752796,471.620491,48.009479
47,Washington,305.823908,476.143991,498.435194,45.167812
48,West Virginia,361.260066,463.181969,487.816371,48.920863
49,Wisconsin,346.127206,452.673101,458.671134,49.504249
50,Wyoming,332.086207,462.928587,451.482082,47.435897
51,NaN,NaN,NaN,NaN,NaN

In [10]:
numeric_cols = Dataset.columns[1:]
# Initialize the MinMaxScaler
scaler = MinMaxScaler()
# Fit and transform the numeric columns
Dataset[numeric_cols] = scaler.fit_transform(Dataset[numeric_cols])

In [11]:
Dataset

,State,Job Market Demand,Cost of Living Index,industry growth,EMPLOYMENT AVERAGE SALARY
0,Alabama,0.012906,0.013211,0.018033,0.908842
1,Alaska,0.583622,0.615675,0.908580,0.900226
2,Arizona,0.605466,0.701696,0.921664,0.916116
3,Arkansas,0.644368,0.532697,0.934813,0.893860
4,California,0.882618,0.660860,0.992819,0.849638
5,Colorado,0.864327,0.869816,0.989396,0.907558
6,Connecticut,0.500666,0.697350,0.899554,0.914971
7,Delaware,0.539019,0.703038,0.838371,0.874358
8,District of Columbia,0.517922,0.667245,0.864807,0.767971
9,Florida,0.652919,0.668182,0.916728,0.888109
10,Georgia,0.420921,0.996230,0.907042,0.900480
11,Hawaii,0.748595,0.641942,0.910220,0.904149
12,Idaho,1.000000,0.625448,0.895348,0.977879
13,Illinois,0.816539,0.588600,0.889517,0.825866
14,Indiana,0.521850,0.707529,0.901590,0.898674
15,Iowa,0.439293,0.528836,0.928365,0.922511
16,Kansas,0.682624,0.470267,0.902796,0.834369
17,Kentucky,0.653172,0.481721,0.860332,0.945549
18,Louisiana,0.532673,0.509571,0.882777,0.888292
19,Maine,0.726000,0.528900,0.895561,1.000000
20,Maryland,0.849487,0.655166,0.906677,0.947203
21,Massachusetts,0.812443,0.747263,0.938565,0.912455
22,Michigan,0.706314,0.743719,0.937631,0.923669
23,Minnesota,0.794591,0.651565,0.901082,0.906585
24,Mississippi,0.707143,0.508658,0.907458,0.933143
25,Missouri,0.447344,0.436826,0.904150,0.895670
26,Montana,0.569149,0.417176,0.892628,0.960828
27,Nebraska,0.780838,0.463037,0.886597,0.927838
28,Nevada,0.888716,0.606863,0.899492,0.891666
29,New Hampshire,0.950338,0.589189,1.000000,0.931670
30,New Jersey,0.846716,0.613827,0.988749,0.904044
31,New Mexico,0.706799,0.735722,0.874417,0.823580
32,New York,0.945299,0.704812,0.883779,0.835763
33,North Carolina,0.650842,1.000000,0.919449,0.928750
34,North Dakota,0.679286,0.381726,0.883659,0.810097
35,Ohio,0.719758,0.423838,0.881201,0.907161
36,Oklahoma,0.683379,0.693248,0.915238,0.814333
37,Oregon,0.892578,0.624780,0.924180,0.850356
38,Pennsylvania,0.688740,0.680181,0.916734,0.869191
39,Rhode Island,0.738243,0.641813,0.895376,0.942334
40,South Carolina,0.640332,0.569303,0.871280,0.895198
41,South Dakota,0.688929,0.455297,0.887204,0.951692
42,Tennessee,0.731203,0.494916,0.914464,0.872624
43,Texas,0.558361,0.932982,0.895083,0.851667
44,Utah,0.459325,0.739512,0.906435,0.952248
45,Vermont,0.414474,0.556056,0.913989,0.904681
46,Virginia,0.541560,0.552945,0.899872,0.890114
47,Washington,0.663202,0.678993,0.951036,0.837428
48,West Virginia,0.783419,0.660509,0.930775,0.907011
49,Wisconsin,0.750602,0.645523,0.875164,0.917827
50,Wyoming,0.720153,0.660147,0.861447,0.879479
51,0,0.000000,0.000000,0.000000,0.000000

In [12]:
# Assuming your final dataset is named 'df'
# Replace NaN values with 0 for calculations
Dataset.fillna(0, inplace=True)

# SeDatasetct relevant columns for the linear regression model
X = Dataset[['Job Market Demand', 'Cost of Living Index', 'industry growth']]
y = Dataset['EMPLOYMENT AVERAGE SALARY']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Create a linear regression model
model = LinearRegression()

# Train the model on the training set
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

# Print the coefficients of the linear regression model
coefficients = pd.DataFrame({'Factor': X.columns, 'Coefficient': model.coef_})
print('\nCoefficients:')
print(coefficients)

# Print the intercept of the linear regression model
print('\nIntercept:', model.intercept_)

Mean Absolute Error: 0.04841392466037104
Mean Squared Error: 0.003399581613349438
Root Mean Squared Error: 0.05830593120214648

Coefficients:
                 Factor  Coefficient
0     Job Market Demand     0.060648
1  Cost of Living Index    -0.069957
2       industry growth     0.497142

Intercept: 0.451994486667233